# ======================
# ⚙️  Arquivos de build e temporários
# ======================
.dist/
.quasar/
quasar.config.*.temporary.compiled*

# ======================
# 🧰 Configs e ferramentas
# ======================
.vscode/
.editorconfig
.npmrc
.prettierrc.json
babel.config.js
eslint.config.js
jsconfig.json
postcss.config.js
quasar.config.js

# ======================
# ⚡ Dependências
# ======================
node_modules/
yarn.lock

# ======================
# 🌐 Cordova
# ======================
/src-cordova/node_modules/
/src-cordova/platforms/
/src-cordova/plugins/
/src-cordova/www

# ======================
# ⚡ Capacitor
# ======================
/src-capacitor/www
/src-capacitor/node_modules/

# ======================
# 🔐 Env e logs
# ======================
.env.local*
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ======================
# 🧠 IDEs
# ======================
.idea
*.suo
*.ntvs*
*.njsproj
*.sln

# ======================
# 🧹 Sistema operacional
# ======================
.DS_Store
.thumbs.db

